{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "mocha": true,
    },
    "rules": {
        "linebreak-style":[1,"windows"],
        "indent":[1,4],
        "no-unused-vars": [1],
        "global-require":[1],
        "import/no-dynamic-require":[1]
    }
}
